In [1]:
#fibbonacci SQL execution

#1,1,2,3,5,8,13,21
#return the list of fibi numbers

def fibi(a,b):
    #i=1
    while(True):
        a,b=b,a+b
       # print(b)
        yield b
        #print("what ", i)
        #i=i+1
 
if (__name__=="__main__") :
    resultL=[1,1]
    for x in fibi(1,1):
        fibi(1,1)
        fibi(resultL[-1],resultL[-2])
        #print(x)
        resultL.append(x)
        
        if len(resultL)==2000:
            break
print(len(str(resultL[-1])))

418

In [2]:
def my_gen():
    n = 1
    print('This is printed first')
    # Generator function contains yield statements
    yield n

    n += 1
    print('This is printed second')
    yield n

    n += 1
    print('This is printed at last')
    yield n
    
my_gen().__next__()
next(my_gen())
     
next(my_gen())
next(my_gen())
a =my_gen()
print(a)
next(a)
next(a)
#a=my_gen()
#for i in my_gen():
    #print(i)

This is printed first
This is printed first
This is printed first
This is printed first
<generator object my_gen at 0x0000021A5832FDB0>
This is printed first
This is printed second

2

In [3]:
import sqlite3
conn = sqlite3.connect('storeG5555.db')
c =conn.cursor()
c.execute("""CREATE TABLE abcd(
                a integer,
                b integer,
                c integer)""")
conn.commit()

In [4]:
#fibbonacci SQL execution

#1,1,2,3,5,8,13,21
#return the list of fibi numbers
def fibi(a,b,n):
    c=[1,1]
    while(n):
        a,b=b,a+b
        print(b)
       # c.append(n)
        return b
        #i=i+1
 
if (__name__=="__main__") :
    resultL=[1,1]
    n=10000
    for x in range(n):
        #fibi(1,1,n)
        #print(x)
        resultL.append(fibi(resultL[-1],resultL[-2],10000))
        
        if len(resultL)==40:
            break
print(resultL)
print(len(resultL))

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155]
40

In [5]:
#Generators __iter__() and __next__()

In [6]:
#pythogorian triplets

def integers():
    """Infinte sequence of integers"""
    i=1
    while(True):
        #print(i)
        yield i  
        i=i+1
        


def store(x=1,y=1,z=1):
    c.execute("INSERT INTO abcd VALUES(?,?,?)",(x,y,z))
    
    
pyt= (store(x,y,z) for z in integers() for y in range(1,z) for x in range(1,y) if x**2+y**2==z**2)

a=[]
for i in pyt:
    a.append(i)
    if len(a)==100:
        break
#print(a) # pyt= ((x,y,z) for z in integers() for y in range(1,z) for x in range(1,y) if x**2+y**2==z**2)

In [ ]:
c.execute("""INSERT INTO abcd values(5,6,7)""")

In [7]:
c.execute("""SELECT count(*) FROM abcd""")

In [8]:
c.fetchall()
#c.execute("""DROP TABLE abcd""")

[(100,)]

In [9]:
conn.commit()

In [ ]:
c.execute("""DROP TABLE abcd""")

In [11]:
c.execute("""SELECT * FROM abcd""")
c.fetchall()

[(3, 4, 5),
 (6, 8, 10),
 (5, 12, 13),
 (9, 12, 15),
 (8, 15, 17),
 (12, 16, 20),
 (15, 20, 25),
 (7, 24, 25),
 (10, 24, 26),
 (20, 21, 29),
 (18, 24, 30),
 (16, 30, 34),
 (21, 28, 35),
 (12, 35, 37),
 (15, 36, 39),
 (24, 32, 40),
 (9, 40, 41),
 (27, 36, 45),
 (30, 40, 50),
 (14, 48, 50),
 (24, 45, 51),
 (20, 48, 52),
 (28, 45, 53),
 (33, 44, 55),
 (40, 42, 58),
 (36, 48, 60),
 (11, 60, 61),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (32, 60, 68),
 (42, 56, 70),
 (48, 55, 73),
 (24, 70, 74),
 (45, 60, 75),
 (21, 72, 75),
 (30, 72, 78),
 (48, 64, 80),
 (18, 80, 82),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (60, 63, 87),
 (39, 80, 89),
 (54, 72, 90),
 (35, 84, 91),
 (57, 76, 95),
 (65, 72, 97),
 (60, 80, 100),
 (28, 96, 100),
 (20, 99, 101),
 (48, 90, 102),
 (40, 96, 104),
 (63, 84, 105),
 (56, 90, 106),
 (60, 91, 109),
 (66, 88, 110),
 (36, 105, 111),
 (15, 112, 113),
 (69, 92, 115),
 (80, 84, 116),
 (45, 108, 117),
 (56, 105, 119),
 (72, 96, 120),
 (22, 120, 122),
 (27, 120, 123),
 (75, 100, 125),
 (44, 117, 125),
 (35, 120, 125),
 (78, 104, 130),
 (66, 112, 130),
 (50, 120, 130),
 (32, 126, 130),
 (81, 108, 135),
 (64, 120, 136),
 (88, 105, 137),
 (84, 112, 140),
 (55, 132, 143),
 (100, 105, 145),
 (87, 116, 145),
 (24, 143, 145),
 (17, 144, 145),
 (96, 110, 146),
 (48, 140, 148),
 (51, 140, 149),
 (90, 120, 150),
 (42, 144, 150),
 (72, 135, 153),
 (93, 124, 155),
 (60, 144, 156),
 (85, 132, 157),
 (84, 135, 159),
 (96, 128, 160),
 (36, 160, 164),
 (99, 132, 165),
 (119, 120, 169),
 (65, 156, 169),
 (102, 136, 170)]